#EditAccountButton {
    -fx-background-image: url("../Images/EditAccount.png");
    -fx-background-size: 50 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    /*-fx-graphic: url("../Images/EditAccount.png");*/
    /*-fx-padding: 10;*/
    /*-fx-content-display: left;*/
    /*-fx-graphic-text-gap: 20;*/
}